raspFiles/020724flow.json
[{"id":"993456db.6e41d8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"240afd9c.4f5402","type":"group","z":"993456db.6e41d8","name":"Actions Groups","style":{"stroke":"#3f3f3f","fill":"#bfbfbf","label":true,"color":"#3f3f3f"},"nodes":["8e1b9975.402078","90c5e874.c67b88","435d4ab3.5afc44","108919a2.d39446"],"x":-6,"y":199,"w":172,"h":202},{"id":"79da49bc.5fb4a8","type":"group","z":"993456db.6e41d8","name":"Debuggin","style":{"fill":"#bfdbef","label":true,"color":"#3f3f3f","stroke":"#3f3f3f"},"nodes":["c5623da9.20eb9","f2f07d47.361fb"],"x":694,"y":379,"w":212,"h":122},{"id":"e1ffd6f4.380a08","type":"group","z":"993456db.6e41d8","name":"Placard","style":{"fill":"#bfdbef","label":true,"stroke":"#3f3f3f","color":"#3f3f3f"},"nodes":["7cb91e30.8eac5","27f12061.5242a","4626feaa.826a8"],"x":694,"y":519,"w":212,"h":162},{"id":"435d4ab3.5afc44","type":"inject","z":"993456db.6e41d8","g":"240afd9c.4f5402","name":"B","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"timestamp","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"teamB","payload":"{\"action\": \"B\"}","payloadType":"json","x":90,"y":320,"wires":[["24f584ef.1f069c","5c8c51a1.c2016"]]},{"id":"108919a2.d39446","type":"inject","z":"993456db.6e41d8","g":"240afd9c.4f5402","name":"Undo","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"timestamp","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"undo","payload":"{\"action\": \"Undo\"}","payloadType":"json","x":90,"y":360,"wires":[["24f584ef.1f069c","5c8c51a1.c2016"]]},{"id":"24f584ef.1f069c","type":"debug","z":"993456db.6e41d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":180,"wires":[]},{"id":"8e1b9975.402078","type":"inject","z":"993456db.6e41d8","g":"240afd9c.4f5402","name":"Reset","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"timestamp","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"reset","payload":"{\"action\": \"Reset\"}","payloadType":"json","x":90,"y":240,"wires":[["24f584ef.1f069c","5c8c51a1.c2016"]]},{"id":"90c5e874.c67b88","type":"inject","z":"993456db.6e41d8","g":"240afd9c.4f5402","name":"A","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"timestamp","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"teamA","payload":"{\"action\": \"A\"}","payloadType":"json","x":90,"y":280,"wires":[["24f584ef.1f069c","5c8c51a1.c2016"]]},{"id":"95836f17.249f4","type":"debug","z":"993456db.6e41d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":180,"wires":[]},{"id":"fd5eded.af67f2","type":"debug","z":"993456db.6e41d8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":160,"wires":[]},{"id":"5c8c51a1.c2016","type":"function","z":"993456db.6e41d8","name":"Actions Logic","func":"\n//////////////////////////////////////////////////////////////////////\nfunction newMatch(){\n        function generateUniqueID() {\n        return Date.now().toString(36) + Math.random().toString(36).substring(2);\n    }\n    return {\n        matchID: generateUniqueID(),  // Generar un ID único para el partido\n        //gameTime: 0,  // Tiempo transcurrido del partido en segundos o formato deseado\n        startTime: msg.timestamp,\n        score: {\n            sets: [[0, 0], [0, 0], [0, 0]],  // Array para almacenar los juegos ganados en cada set\n            setsWins:[0,0],                 // Indica el resultado de sets ganados\n            currentSet: 0,                  // Índice del set actual en el array de sets\n            currentGame: [0, 0],            // Puntuación del juego actual\n            gameFormated: [0,0],            //Formateo de puntuación del game actual\n            inTiebreak: false,               // Flag para indicar si el juego actual es un tiebreak\n            matchStatus:\"inProgress\" \n        },\n        actionHistory: [],  // Historial de todas las acciones realizadas\n        scoreHistory: []  // Historial de los cambios de puntuación para poder deshacer cambios\n    }    \n        \n}\n//////////////////////////////////////////////////////////////////////\nfunction updateScore(teamIndex) {\n    console.log(`------------------updating`);\n    let cG = quadra.match.score.currentGame;\n    let cSI = quadra.match.score.currentSet;\n    let cS = quadra.match.score.sets[cSI];\n    let setsWins = quadra.match.score.setsWins;\n    let inTiebreak = quadra.match.score.inTiebreak;\n\n    quadra.match.actionHistory.push({action: teamIndex === 0 ? \"pointA\" : \"pointB\"});\n    quadra.match.scoreHistory.push(JSON.parse(JSON.stringify(quadra.match.score))); \n\n    cG[teamIndex] += 1;\n        console.log( \"----->cs:\",cS, \" cSI:\" , cSI, \" cGame:\", cG);\n\n    if (inTiebreak) {\n        console.log( \"---Estoy en Tiebreak--> \");\n        // Manejar puntuación en tiebreak: simplemente incrementar puntos\n        if ((cG[0] >= 7 || cG[1] >= 7) && Math.abs(cG[0] - cG[1]) >= 2) { // Condición para ganar el tiebreak\n                console.log(\"Condición ganador tiebreak \")\n            cS[teamIndex] += 1;\n            if (cSI <= cS.length) {\n                cSI +=1;\n                setsWins[teamIndex] += 1;\n                cS = [0 , 0];\n                    console.log(`incremento de indice me muevo al siguiente SET`);\n                }\n            cG = [0, 0]; // Reiniciar juego\n            inTiebreak = false; // Salir del modo tiebreak\n                console.log( \"---Finalizó Tiebreak--> \", \"ganó el set el team : \",teamIndex);\n        }\n    } else {\n        // Verificar si hay un ganador del Game\n        if ((cG[0] >= 4 || cG[1] >= 4) && Math.abs(cG[0] - cG[1]) >= 2) {\n            //sumo 1 al set correspondiente y \n             cS[teamIndex]+=1;\n            // Verificar si hay un ganador del set\n            if (cS[0] === 6 && cS[1] === 6) { // Comprobar si se necesita iniciar un tiebreak\n                inTiebreak = true;\n                //cG = [0, 0]; // Reiniciar puntuación para tiebreak\n            }\n            if (cS[teamIndex] >= 6 && Math.abs(cS[0] - cS[1]) >= 2) {\n                //if (cSI < cS.length - 1) {\n                if (cSI <= cS.length) {\n                    cSI +=1;\n                    setsWins[teamIndex] += 1;\n                    cS = [0 , 0];\n                        console.log(`incremento de indice me muevo al siguiente SET`);\n                }\n            }\n            cG = [0, 0];  // Reiniciar el juego actual\n        }\n    }\n    if (setsWins[0] === 2 || setsWins[1] === 2) {\n        // Alguno de los equipos ha ganado el partido\n        console.log(\"El partido ha terminado. Un equipo ha ganado 2 sets.\");\n        quadra.match.score.matchStatus = \"completed\";\n    } \n    // Actualizar el estado global\n    quadra.match.score.currentGame = cG;\n    quadra.match.score.currentSet = cSI;\n    quadra.match.score.sets[cSI] = cS;\n    quadra.match.score.setsWins = setsWins;\n    quadra.match.score.inTiebreak = inTiebreak;\n    quadra.match.score.gameFormated = inTiebreak ? cG : formatGame(cG);\n}\n//////////////////////////////////////////////////////////////////////////////////////////\nfunction formatGame(gameStatus) {\n    let pointsA = JSON.parse(JSON.stringify(gameStatus[0]));\n    let pointsB = JSON.parse(JSON.stringify(gameStatus[1]));\n\n        if (pointsA >= 3 && pointsB >= 3) {  //si los dos son mayores que3\n            console.log(\"pointsA y pointsB mayores que 3\");\n            if (pointsA === pointsB) {\n                console.log(\"pointsA === pointsB retorna 40-40\");\n                return [\"40\",\"40\"];  // Deuce\n            }\n            if (pointsA > pointsB) {\n                console.log(\"pointsA > pointsB retorna AD-40\");\n                return [\"AD\",\"40\"];\n            }\n            if (pointsB > pointsA){\n                console.log(\"pointsA < pointsB retorna 40-AD\");\n                return [\"40\" , \"AD\"];\n            }\n            \n        }\n        else{\n            console.log(\"pointsA & pointsB menor a 3 entonces\");\n            console.log([formatPoint(pointsA) , formatPoint(pointsB)]);\n            return [formatPoint(pointsA) , formatPoint(pointsB)];\n        }\n        function formatPoint (point){\n        return  point === 0 ? \"0\" :\n                point === 1 ? \"15\" :\n                point === 2 ? \"30\" :\n                point === 3 ? \"40\" :\n                \"AD\";    \n    }\n}\n//////////////////////////////////////////////////////////////////////////////////////////\n// Obtener el objeto 'quadra' del contexto de flujo\nlet quadra = flow.get('quadra') || {match : newMatch()}\n// Evaluar la acción proveniente del nodo inject\nswitch (msg.payload.action) {\n    case \"A\":\n        // Sumar punto al Equipo A\n        if (quadra.match.score.matchStatus===\"inProgress\"){\n            updateScore(0);\n        }\n        break;\n    case \"B\":\n        // Sumar punto al Equipo B\n        if (quadra.match.score.matchStatus===\"inProgress\"){\n        updateScore(1);\n        }\n        break;\n    case \"Undo\":\n    // Deshacer la última acción\n    let aH = quadra.match.actionHistory;\n    let sH = quadra.match.scoreHistory;\n    if (aH.length > 0 && sH.length > 0){\n        quadra.match.actionHistory.pop();   //Delete last action\n        let previousState = quadra.match.scoreHistory.pop();    //Delete last score\n            console.log(\"Undo - Restoring to previous state:\", previousState);\n        // Restaurar el estado completo del partido\n        quadra.match.score = JSON.parse(JSON.stringify(previousState));\n    }\n        break;\n    case \"Reset\":\n        quadra.match = newMatch();\n        break;\n    default:\n        // Por si se recibe una acción no esperada\n        node.warn(\"Acción no reconocida: \" + msg.payload.action);\n        break;\n}\n// Guardar el estado actualizado\nflow.set('quadra', quadra);\nmsg.payload.quadra=quadra;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":300,"wires":[["fd5eded.af67f2","5e28941.ebafb6c","8fb7ac7d.3dca5"]]},{"id":"65aa1597.0a17dc","type":"function","z":"993456db.6e41d8","name":"set 0","func":"let quadra = {\n    match: {\n        matchID: \"\",  // Generar un ID único para el partido\n        gameTime: 0,  // Tiempo transcurrido del partido en segundos o formato deseado\n        score: {\n            sets: [[0, 0], [0, 0], [0, 0]],  // Array para almacenar los juegos ganados en cada set\n            setsWins:[0,0],                 // Indica el resultado de sets ganados\n            currentSet: 0,                  // Índice del set actual en el array de sets\n            currentGame: [0, 0],            // Puntuación del juego actual\n            gameFormated: [0,0],            //Formateo de puntuación del game actual\n            inTiebreak: false,               // Flag para indicar si el juego actual es un tiebreak\n            matchStatus:\"inProgress\" \n        },\n        actionHistory: [],  // Historial de todas las acciones realizadas\n        scoreHistory: []  // Historial de los cambios de puntuación para poder deshacer cambios\n    }    \n};\nflow.set('quadra', quadra);\nreturn {payload: quadra};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":40,"wires":[[]]},{"id":"1039a8e6.633857","type":"inject","z":"993456db.6e41d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["65aa1597.0a17dc"]]},{"id":"c5623da9.20eb9","type":"ui_text","z":"993456db.6e41d8","g":"79da49bc.5fb4a8","group":"aaed0f5e.dc6bb","order":0,"width":"6","height":"2","name":"","label":"DEBUG","format":"{{msg.payload.quadra.match.score}}","layout":"col-center","className":"","style":true,"font":"","fontSize":"17","color":"#1e00ff","x":780,"y":420,"wires":[]},{"id":"f2f07d47.361fb","type":"ui_text","z":"993456db.6e41d8","g":"79da49bc.5fb4a8","group":"aaed0f5e.dc6bb","order":0,"width":"6","height":"2","name":"","label":"Previous Score","format":"{{msg.payload.quadra.match.scoreHistory[msg.payload.quadra.match.scoreHistory.length - 1]}}","layout":"col-center","className":"","style":true,"font":"","fontSize":"17","color":"#1e00ff","x":800,"y":460,"wires":[]},{"id":"c1788cb1.b4d79","type":"function","z":"993456db.6e41d8","name":"Actions Logic 29062024 10am","func":"function generateUniqueID() {\n    return Date.now().toString(36) + Math.random().toString(36).substring(2);\n}\n\n//////////////////////////////////////////////////////////////////////\nfunction updateScore(teamIndex) {\n    console.log(`------------------updating`);\n //asigno valores globales a variables locales para facilitar la manipulación dentro de los condicionales, cuando tengo que cambiar valores utilizo la notación completa de la variable global\n    let cG = quadra.match.score.currentGame;    //currentGame\n    let cSI = quadra.match.score.currentSet;    //currenSetIndex\n    let cS = quadra.match.score.sets[cSI];      //currenSet\n    let pS = JSON.parse(JSON.stringify(quadra.match.score)); // Hacer una copia profunda antes de modificar//previousScore\n   \n    //console.log( \"----->cs: \",cS, \" cSI:\" , cSI, \" pScore:\", pS);\n    \n    //Registro en los historiales\n    quadra.match.actionHistory.push({action:teamIndex === 0 ? \"pointA\" : \"pointB\"});\n    quadra.match.scoreHistory.push(pS);\n    // Incrementar el punto para el equipo especificado y al final de la función actualizo valores globales\n    cG[teamIndex] += 1;\n\n    // Verificar si hay un ganador del Game\n    if ((cG[0] >= 4 || cG[1] >= 4) && Math.abs(cG[0] - cG[1]) >= 2) {\n        //sumo 1 al set correspondiente y \n         cS[teamIndex]+=1;\n        // Verificar si hay un ganador del set\n        if (cS[teamIndex] >= 6 && Math.abs(cS[0] - cS[1]) >= 2) {\n            //if (cSI < cS.length - 1) {\n            if (cSI < cS.length) {\n                cSI +=1;\n                cS = [0 , 0];\n                    console.log(`incremento de indice`);\n\n            } else {\n                  // me muevo al otro set o si ya estaba en el tercer set GANADOR DEL PARTIDO en otra función\n              console.log(`+++++++++++++++++++FindePartido+++++++++++++++++++++`);\n            }\n        }\n        // Reiniciar el juego actual\n        cG[0] = 0;\n        cG[1] = 0;\n    }\n    let cfG =JSON.parse(JSON.stringify(formatGame(cG)));\n    //console.log(\"-----__>currentGame\", cG);\n    //console.log(\"-----__> game FOrmated -> \", cfG);\n    //console.log(\"game FOrmated -> \", formatGame(cG));\n    //console.log(\"game FOrmated -> \", formatGame(cG[0]), \" \", formatGame(cG[1]));\n\n    // Actualizo valores globales\n    quadra.match.score.gameFormated =[cfG];     //Escribo el valor del game formateado en su campo del score\n    quadra.match.score.currentGame = cG;\n    quadra.match.score.currentSet = cSI;\n    quadra.match.score.sets[cSI] = cS ; \n}\n//////////////////////////////////////////////////////////////////////////////////////////\nfunction formatGame(gameStatus) {\n    let pointsA = JSON.parse(JSON.stringify(gameStatus[0]));\n    let pointsB = JSON.parse(JSON.stringify(gameStatus[1]));\n\n        if (pointsA >= 3 && pointsB >= 3) {  //si los dos son mayores que3\n            console.log(\"pointsA y pointsB mayores que 3\");\n            if (pointsA === pointsB) {\n                console.log(\"pointsA === pointsB retorna 40-40\");\n                return [\"40\",\"40\"];  // Deuce\n            }\n            if (pointsA > pointsB) {\n                console.log(\"pointsA > pointsB retorna AD-40\");\n                return [\"AD\",\"40\"];\n            }\n            if (pointsB > pointsA){\n                console.log(\"pointsA < pointsB retorna 40-AD\");\n                return [\"40\" , \"AD\"];\n            }\n            \n        }\n        else{\n            console.log(\"pointsA & pointsB menor a 3 entonces\");\n            console.log([formatPoint(pointsA) , formatPoint(pointsB)]);\n            return [formatPoint(pointsA) , formatPoint(pointsB)];\n        }\n        function formatPoint (point){\n        return  point === 0 ? \"0\" :\n                point === 1 ? \"15\" :\n                point === 2 ? \"30\" :\n                point === 3 ? \"40\" :\n                \"AD\";    \n    }\n}\n//////////////////////////////////////////////////////////////////////////////////////////\n// Obtener el objeto 'quadra' del contexto de flujo\nlet quadra = flow.get('quadra') || {\n    match: {\n        matchID: generateUniqueID(),  // Generar un ID único para el partido\n        gameTime: 0,  // Tiempo transcurrido del partido en segundos o formato deseado\n        score: {\n            sets: [[0, 0], [0, 0], [0, 0]],  // Array para almacenar los juegos ganados en cada set\n            currentSet: 0,  // Índice del set actual en el array de sets\n            currentGame: [0, 0],  // Puntuación del juego actual\n            gameFormated: [0,0]     //Formateo de puntuación del game actual\n        },\n        actionHistory: [],  // Historial de todas las acciones realizadas\n        scoreHistory: []  // Historial de los cambios de puntuación para poder deshacer cambios\n    }    \n};\n// Evaluar la acción proveniente del nodo inject\nswitch (msg.payload.action) {\n    case \"A\":\n        // Sumar punto al Equipo A\n        updateScore(0);\n        break;\n    case \"B\":\n        // Sumar punto al Equipo B\n        updateScore(1);\n        break;\n    case \"Undo\":\n    // Deshacer la última acción\n    let aH = quadra.match.actionHistory;\n    let sH = quadra.match.scoreHistory;\n    if (aH.length > 0 && sH.length > 0){\n        quadra.match.actionHistory.pop();   //Delete last action\n        let previousState = quadra.match.scoreHistory.pop();    //Delete last score\n            console.log(\"Undo - Restoring to previous state:\", previousState);\n        // Restaurar el estado completo del partido\n        quadra.match.score = JSON.parse(JSON.stringify(previousState));\n    }\n           // quadra.match.scoreHistory.pop();    //Delete last score\n        break;\n    case \"Reset\":\n        // Reiniciar el partido\n        quadra.match.score.sets = [[0, 0], [0, 0], [0, 0]];\n        quadra.match.score.currentSet = 0;\n        quadra.match.score.currentGame = [0, 0];\n        quadra.match.score.gameFormated = [0, 0];\n        quadra.match.actionHistory = [];\n        quadra.match.scoreHistory = [];\n        quadra.match.gameTime= 0; // Tiempo transcurrido del partido en segundos o formato deseado\n        break;\n    default:\n        // Por si se recibe una acción no esperada\n        node.warn(\"Acción no reconocida: \" + msg.payload.action);\n        break;\n}\n\n// Guardar el estado actualizado\nflow.set('quadra', quadra);\n\n// Pasar el estado actualizado al siguiente nodo (si es necesario)\nreturn {payload: quadra};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":170,"y":780,"wires":[[]]},{"id":"e0ad96ec.007e38","type":"ui_text","z":"993456db.6e41d8","group":"c9ee75b6.5e7c18","order":0,"width":"6","height":"10","name":"","label":"Poitns History","format":"{{msg.payload.match.actionHistory}}","layout":"col-center","className":"","style":true,"font":"","fontSize":"13","color":"#1e00ff","x":780,"y":740,"wires":[]},{"id":"80f1b50c.1b6028","type":"function","z":"993456db.6e41d8","name":"Actions Logic 29062024 10.30am","func":"function generateUniqueID() {\n    return Date.now().toString(36) + Math.random().toString(36).substring(2);\n}\n//////////////////////////////////////////////////////////////////////\nfunction newMatch(){\n        return {\n            matchID: generateUniqueID(),  // Generar un ID único para el partido\n            gameTime: 0,  // Tiempo transcurrido del partido en segundos o formato deseado\n            score: {\n                sets: [[0, 0], [0, 0], [0, 0]],  // Array para almacenar los juegos ganados en cada set\n                currentSet: 0,  // Índice del set actual en el array de sets\n                currentGame: [0, 0],  // Puntuación del juego actual\n                gameFormated: [0,0]     //Formateo de puntuación del game actual\n            },\n            actionHistory: [],  // Historial de todas las acciones realizadas\n            scoreHistory: []  // Historial de los cambios de puntuación para poder deshacer cambios\n        }    \n        \n}\n//////////////////////////////////////////////////////////////////////\nfunction updateScore(teamIndex) {\n    console.log(`------------------updating`);\n //asigno valores globales a variables locales para facilitar la manipulación dentro de los condicionales, cuando tengo que cambiar valores utilizo la notación completa de la variable global\n    let cG = quadra.match.score.currentGame;    //currentGame\n    let cSI = quadra.match.score.currentSet;    //currenSetIndex\n    let cS = quadra.match.score.sets[cSI];      //currenSet\n    let pS = JSON.parse(JSON.stringify(quadra.match.score)); // Hacer una copia profunda antes de modificar//previousScore\n   \n    //console.log( \"----->cs: \",cS, \" cSI:\" , cSI, \" pScore:\", pS);\n    \n    //Registro en los historiales\n    quadra.match.actionHistory.push({action:teamIndex === 0 ? \"pointA\" : \"pointB\"});\n    quadra.match.scoreHistory.push(pS);\n    // Incrementar el punto para el equipo especificado y al final de la función actualizo valores globales\n    cG[teamIndex] += 1;\n\n    // Verificar si hay un ganador del Game\n    if ((cG[0] >= 4 || cG[1] >= 4) && Math.abs(cG[0] - cG[1]) >= 2) {\n        //sumo 1 al set correspondiente y \n         cS[teamIndex]+=1;\n        // Verificar si hay un ganador del set\n        if (cS[teamIndex] >= 6 && Math.abs(cS[0] - cS[1]) >= 2) {\n            //if (cSI < cS.length - 1) {\n            if (cSI < cS.length) {\n                cSI +=1;\n                cS = [0 , 0];\n                    console.log(`incremento de indice`);\n\n            } else {\n                  // me muevo al otro set o si ya estaba en el tercer set GANADOR DEL PARTIDO en otra función\n              console.log(`+++++++++++++++++++FindePartido+++++++++++++++++++++`);\n            }\n        }\n        // Reiniciar el juego actual\n        cG[0] = 0;\n        cG[1] = 0;\n    }\n    let cfG =JSON.parse(JSON.stringify(formatGame(cG)));\n    //console.log(\"-----__>currentGame\", cG);\n    //console.log(\"-----__> game FOrmated -> \", cfG);\n    //console.log(\"game FOrmated -> \", formatGame(cG));\n    //console.log(\"game FOrmated -> \", formatGame(cG[0]), \" \", formatGame(cG[1]));\n\n    // Actualizo valores globales\n    quadra.match.score.gameFormated =[cfG];     //Escribo el valor del game formateado en su campo del score\n    quadra.match.score.currentGame = cG;\n    quadra.match.score.currentSet = cSI;\n    quadra.match.score.sets[cSI] = cS ; \n}\n//////////////////////////////////////////////////////////////////////////////////////////\nfunction formatGame(gameStatus) {\n    let pointsA = JSON.parse(JSON.stringify(gameStatus[0]));\n    let pointsB = JSON.parse(JSON.stringify(gameStatus[1]));\n\n        if (pointsA >= 3 && pointsB >= 3) {  //si los dos son mayores que3\n            console.log(\"pointsA y pointsB mayores que 3\");\n            if (pointsA === pointsB) {\n                console.log(\"pointsA === pointsB retorna 40-40\");\n                return [\"40\",\"40\"];  // Deuce\n            }\n            if (pointsA > pointsB) {\n                console.log(\"pointsA > pointsB retorna AD-40\");\n                return [\"AD\",\"40\"];\n            }\n            if (pointsB > pointsA){\n                console.log(\"pointsA < pointsB retorna 40-AD\");\n                return [\"40\" , \"AD\"];\n            }\n            \n        }\n        else{\n            console.log(\"pointsA & pointsB menor a 3 entonces\");\n            console.log([formatPoint(pointsA) , formatPoint(pointsB)]);\n            return [formatPoint(pointsA) , formatPoint(pointsB)];\n        }\n        function formatPoint (point){\n        return  point === 0 ? \"0\" :\n                point === 1 ? \"15\" :\n                point === 2 ? \"30\" :\n                point === 3 ? \"40\" :\n                \"AD\";    \n    }\n}\n//////////////////////////////////////////////////////////////////////////////////////////\n// Obtener el objeto 'quadra' del contexto de flujo\nlet quadra = flow.get('quadra') || {match : newMatch()}\n    /*{match: {\n        matchID: generateUniqueID(),  // Generar un ID único para el partido\n        gameTime: 0,  // Tiempo transcurrido del partido en segundos o formato deseado\n        score: {\n            sets: [[0, 0], [0, 0], [0, 0]],  // Array para almacenar los juegos ganados en cada set\n            currentSet: 0,  // Índice del set actual en el array de sets\n            currentGame: [0, 0],  // Puntuación del juego actual\n            gameFormated: [0,0]     //Formateo de puntuación del game actual\n        },\n        actionHistory: [],  // Historial de todas las acciones realizadas\n        scoreHistory: []  // Historial de los cambios de puntuación para poder deshacer cambios\n    } }   */\n\n// Evaluar la acción proveniente del nodo inject\nswitch (msg.payload.action) {\n    case \"A\":\n        // Sumar punto al Equipo A\n        updateScore(0);\n        break;\n    case \"B\":\n        // Sumar punto al Equipo B\n        updateScore(1);\n        break;\n    case \"Undo\":\n    // Deshacer la última acción\n    let aH = quadra.match.actionHistory;\n    let sH = quadra.match.scoreHistory;\n    if (aH.length > 0 && sH.length > 0){\n        quadra.match.actionHistory.pop();   //Delete last action\n        let previousState = quadra.match.scoreHistory.pop();    //Delete last score\n            console.log(\"Undo - Restoring to previous state:\", previousState);\n        // Restaurar el estado completo del partido\n        quadra.match.score = JSON.parse(JSON.stringify(previousState));\n    }\n           // quadra.match.scoreHistory.pop();    //Delete last score\n        break;\n    case \"Reset\":\n        quadra.match = newMatch();\n        // Reiniciar el partido\n        /*quadra.match.score.sets = [[0, 0], [0, 0], [0, 0]];\n        quadra.match.score.currentSet = 0;\n        quadra.match.score.currentGame = [0, 0];\n        quadra.match.score.gameFormated = [0, 0];\n        quadra.match.actionHistory = [];\n        quadra.match.scoreHistory = [];\n        quadra.match.gameTime= 0; // Tiempo transcurrido del partido en segundos o formato deseado\n        */\n        break;\n    default:\n        // Por si se recibe una acción no esperada\n        node.warn(\"Acción no reconocida: \" + msg.payload.action);\n        break;\n}\n\n// Guardar el estado actualizado\nflow.set('quadra', quadra);\n\n// Pasar el estado actualizado al siguiente nodo (si es necesario)\nreturn {payload: quadra};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":740,"wires":[[]]},{"id":"ce791949.5e5bb8","type":"function","z":"993456db.6e41d8","name":"Actions Logic 29062024 11.30am","func":"function generateUniqueID() {\n    return Date.now().toString(36) + Math.random().toString(36).substring(2);\n}\n//////////////////////////////////////////////////////////////////////\nfunction newMatch(){\n        return {\n            matchID: generateUniqueID(),  // Generar un ID único para el partido\n            gameTime: 0,  // Tiempo transcurrido del partido en segundos o formato deseado\n            score: {\n                sets: [[0, 0], [0, 0], [0, 0]],  // Array para almacenar los juegos ganados en cada set\n                currentSet: 0,                  // Índice del set actual en el array de sets\n                currentGame: [0, 0],            // Puntuación del juego actual\n                gameFormated: [0,0],            //Formateo de puntuación del game actual\n                inTiebreak: false               // Flag para indicar si el juego actual es un tiebreak\n            },\n            actionHistory: [],  // Historial de todas las acciones realizadas\n            scoreHistory: []  // Historial de los cambios de puntuación para poder deshacer cambios\n        }    \n        \n}\n//////////////////////////////////////////////////////////////////////\nfunction updateScore(teamIndex) {\n    console.log(`------------------updating`);\n /*//asigno valores globales a variables locales para facilitar la manipulación dentro de los condicionales, cuando tengo que cambiar valores utilizo la notación completa de la variable global\n    let cG = quadra.match.score.currentGame;    //currentGame\n    let cSI = quadra.match.score.currentSet;    //currenSetIndex\n    let cS = quadra.match.score.sets[cSI];      //currenSet\n    let pS = JSON.parse(JSON.stringify(quadra.match.score)); // Hacer una copia profunda antes de modificar//previousScore\n   \n    //console.log( \"----->cs: \",cS, \" cSI:\" , cSI, \" pScore:\", pS);\n    \n    //Registro en los historiales\n    quadra.match.actionHistory.push({action:teamIndex === 0 ? \"pointA\" : \"pointB\"});\n    quadra.match.scoreHistory.push(pS);\n    // Incrementar el punto para el equipo especificado y al final de la función actualizo valores globales\n    cG[teamIndex] += 1;\n\n    // Verificar si hay un ganador del Game\n    if ((cG[0] >= 4 || cG[1] >= 4) && Math.abs(cG[0] - cG[1]) >= 2) {\n        //sumo 1 al set correspondiente y \n         cS[teamIndex]+=1;\n        // Verificar si hay un ganador del set\n        if (cS[teamIndex] >= 6 && Math.abs(cS[0] - cS[1]) >= 2) {\n            //if (cSI < cS.length - 1) {\n            if (cSI < cS.length) {\n                cSI +=1;\n                cS = [0 , 0];\n                    console.log(`incremento de indice`);\n\n            } else {\n                  // me muevo al otro set o si ya estaba en el tercer set GANADOR DEL PARTIDO en otra función\n              console.log(`+++++++++++++++++++FindePartido+++++++++++++++++++++`);\n            }\n        }\n        // Reiniciar el juego actual\n        cG[0] = 0;\n        cG[1] = 0;\n    }\n    let cfG =JSON.parse(JSON.stringify(formatGame(cG)));\n    //console.log(\"-----__>currentGame\", cG);\n    //console.log(\"-----__> game FOrmated -> \", cfG);\n    //console.log(\"game FOrmated -> \", formatGame(cG));\n    //console.log(\"game FOrmated -> \", formatGame(cG[0]), \" \", formatGame(cG[1]));\n\n    // Actualizo valores globales\n    quadra.match.score.gameFormated =[cfG];     //Escribo el valor del game formateado en su campo del score\n    quadra.match.score.currentGame = cG;\n    quadra.match.score.currentSet = cSI;\n    quadra.match.score.sets[cSI] = cS ; */\n    ///--------------------------------/////---------////\n    \n\n    let cG = quadra.match.score.currentGame;\n    let cSI = quadra.match.score.currentSet;\n    let cS = quadra.match.score.sets[cSI];\n    let inTiebreak = quadra.match.score.inTiebreak;\n\n    quadra.match.actionHistory.push({action: teamIndex === 0 ? \"pointA\" : \"pointB\"});\n    quadra.match.scoreHistory.push(JSON.parse(JSON.stringify(quadra.match.score))); \n\n    cG[teamIndex] += 1;\n        console.log( \"----->cs:\",cS, \" cSI:\" , cSI, \" cGame:\", cG);\n\n    if (inTiebreak) {\n        console.log( \"---Estoy en Tiebreak--> \");\n        // Manejar puntuación en tiebreak: simplemente incrementar puntos\n        if ((cG[0] >= 7 || cG[1] >= 7) && Math.abs(cG[0] - cG[1]) >= 2) { // Condición para ganar el tiebreak\n                console.log(\"Condición ganador tiebreak \")\n            cS[teamIndex] += 1;\n            if (cSI <= cS.length) {\n                cSI +=1;\n                cS = [0 , 0];\n                    console.log(`incremento de indice me muevo al siguiente SET`);\n    \n                }\n            cG = [0, 0]; // Reiniciar juego\n            inTiebreak = false; // Salir del modo tiebreak\n                console.log( \"---Finalizó Tiebreak--> \", \"ganó el set el team : \",teamIndex);\n        }\n    } else {\n        /*if ((cG[0] >= 4 || cG[1] >= 4) && Math.abs(cG[0] - cG[1]) >= 2) {\n            cS[teamIndex] += 1;\n            if (cS[0] === 6 && cS[1] === 6) { // Comprobar si se necesita iniciar un tiebreak\n                inTiebreak = true;\n                cG = [0, 0]; // Reiniciar puntuación para tiebreak\n            } else if (cS[teamIndex] >= 6 && Math.abs(cS[0] - cS[1]) >= 2) {\n                // Ganar el set y preparar para el próximo set\n                if (cSI < quadra.match.score.sets.length - 1) {\n                    cSI += 1;\n                } else {\n                    console.log(\"Fin del partido\");\n                }\n                cG = [0, 0];\n            }\n        }*/\n        // Verificar si hay un ganador del Game\n        if ((cG[0] >= 4 || cG[1] >= 4) && Math.abs(cG[0] - cG[1]) >= 2) {\n            //sumo 1 al set correspondiente y \n             cS[teamIndex]+=1;\n            // Verificar si hay un ganador del set\n            if (cS[0] === 6 && cS[1] === 6) { // Comprobar si se necesita iniciar un tiebreak\n                inTiebreak = true;\n                //cG = [0, 0]; // Reiniciar puntuación para tiebreak\n            }\n            if (cS[teamIndex] >= 6 && Math.abs(cS[0] - cS[1]) >= 2) {\n                //if (cSI < cS.length - 1) {\n                if (cSI <= cS.length) {\n                    cSI +=1;\n                    cS = [0 , 0];\n                        console.log(`incremento de indice me muevo al siguiente SET`);\n    \n                }\n            }\n            // Reiniciar el juego actual\n            cG[0] = 0;\n            cG[1] = 0;\n        }\n    }\n    // Actualizar el estado global\n    quadra.match.score.currentGame = cG;\n    quadra.match.score.currentSet = cSI;\n    quadra.match.score.sets[cSI] = cS;\n    quadra.match.score.inTiebreak = inTiebreak;\n    quadra.match.score.gameFormated = inTiebreak ? cG : formatGame(cG); // Formatear juego solo si no está en tiebreak\n}\n\n//////////////////////////////////////////////////////////////////////////////////////////\nfunction formatGame(gameStatus) {\n    let pointsA = JSON.parse(JSON.stringify(gameStatus[0]));\n    let pointsB = JSON.parse(JSON.stringify(gameStatus[1]));\n\n        if (pointsA >= 3 && pointsB >= 3) {  //si los dos son mayores que3\n            console.log(\"pointsA y pointsB mayores que 3\");\n            if (pointsA === pointsB) {\n                console.log(\"pointsA === pointsB retorna 40-40\");\n                return [\"40\",\"40\"];  // Deuce\n            }\n            if (pointsA > pointsB) {\n                console.log(\"pointsA > pointsB retorna AD-40\");\n                return [\"AD\",\"40\"];\n            }\n            if (pointsB > pointsA){\n                console.log(\"pointsA < pointsB retorna 40-AD\");\n                return [\"40\" , \"AD\"];\n            }\n            \n        }\n        else{\n            console.log(\"pointsA & pointsB menor a 3 entonces\");\n            console.log([formatPoint(pointsA) , formatPoint(pointsB)]);\n            return [formatPoint(pointsA) , formatPoint(pointsB)];\n        }\n        function formatPoint (point){\n        return  point === 0 ? \"0\" :\n                point === 1 ? \"15\" :\n                point === 2 ? \"30\" :\n                point === 3 ? \"40\" :\n                \"AD\";    \n    }\n}\n//////////////////////////////////////////////////////////////////////////////////////////\n// Obtener el objeto 'quadra' del contexto de flujo\nlet quadra = flow.get('quadra') || {match : newMatch()}\n    /*{match: {\n        matchID: generateUniqueID(),  // Generar un ID único para el partido\n        gameTime: 0,  // Tiempo transcurrido del partido en segundos o formato deseado\n        score: {\n            sets: [[0, 0], [0, 0], [0, 0]],  // Array para almacenar los juegos ganados en cada set\n            currentSet: 0,  // Índice del set actual en el array de sets\n            currentGame: [0, 0],  // Puntuación del juego actual\n            gameFormated: [0,0]     //Formateo de puntuación del game actual\n        },\n        actionHistory: [],  // Historial de todas las acciones realizadas\n        scoreHistory: []  // Historial de los cambios de puntuación para poder deshacer cambios\n    } }   */\n\n// Evaluar la acción proveniente del nodo inject\nswitch (msg.payload.action) {\n    case \"A\":\n        // Sumar punto al Equipo A\n        updateScore(0);\n        break;\n    case \"B\":\n        // Sumar punto al Equipo B\n        updateScore(1);\n        break;\n    case \"Undo\":\n    // Deshacer la última acción\n    let aH = quadra.match.actionHistory;\n    let sH = quadra.match.scoreHistory;\n    if (aH.length > 0 && sH.length > 0){\n        quadra.match.actionHistory.pop();   //Delete last action\n        let previousState = quadra.match.scoreHistory.pop();    //Delete last score\n            console.log(\"Undo - Restoring to previous state:\", previousState);\n        // Restaurar el estado completo del partido\n        quadra.match.score = JSON.parse(JSON.stringify(previousState));\n    }\n           // quadra.match.scoreHistory.pop();    //Delete last score\n        break;\n    case \"Reset\":\n        quadra.match = newMatch();\n        // Reiniciar el partido\n        /*quadra.match.score.sets = [[0, 0], [0, 0], [0, 0]];\n        quadra.match.score.currentSet = 0;\n        quadra.match.score.currentGame = [0, 0];\n        quadra.match.score.gameFormated = [0, 0];\n        quadra.match.actionHistory = [];\n        quadra.match.scoreHistory = [];\n        quadra.match.gameTime= 0; // Tiempo transcurrido del partido en segundos o formato deseado\n        */\n        break;\n    default:\n        // Por si se recibe una acción no esperada\n        node.warn(\"Acción no reconocida: \" + msg.payload.action);\n        break;\n}\n\n// Guardar el estado actualizado\nflow.set('quadra', quadra);\n\n// Pasar el estado actualizado al siguiente nodo (si es necesario)\nreturn {payload: quadra};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":700,"wires":[[]]},{"id":"27f12061.5242a","type":"ui_text","z":"993456db.6e41d8","g":"e1ffd6f4.380a08","group":"bfa50861.979ed8","order":0,"width":"10","height":"2","name":"gameFormatted","label":"GAME","format":"{{msg.payload[0]}}","layout":"col-center","className":"gameFormatted","style":true,"font":"Tahoma,Geneva,sans-serif","fontSize":"40","color":"#732121","x":800,"y":560,"wires":[]},{"id":"7cb91e30.8eac5","type":"ui_text","z":"993456db.6e41d8","g":"e1ffd6f4.380a08","group":"bfa50861.979ed8","order":0,"width":"10","height":"3","name":"set","label":"Set actual:","format":"{{msg.payload[2]}}","layout":"col-center","className":"set","style":true,"font":"Tahoma,Geneva,sans-serif","fontSize":"35","color":"#1e00ff","x":770,"y":600,"wires":[]},{"id":"40df2da4.e16614","type":"function","z":"993456db.6e41d8","name":"Actions Logic 01072024 11.30am","func":"function generateUniqueID() {\n    return Date.now().toString(36) + Math.random().toString(36).substring(2);\n}\n//////////////////////////////////////////////////////////////////////\nfunction newMatch(){\n        return {\n            matchID: generateUniqueID(),  // Generar un ID único para el partido\n            //gameTime: 0,  // Tiempo transcurrido del partido en segundos o formato deseado\n            startTime: msg.timestamp,\n            score: {\n                sets: [[0, 0], [0, 0], [0, 0]],  // Array para almacenar los juegos ganados en cada set\n                currentSet: 0,                  // Índice del set actual en el array de sets\n                currentGame: [0, 0],            // Puntuación del juego actual\n                gameFormated: [0,0],            //Formateo de puntuación del game actual\n                inTiebreak: false               // Flag para indicar si el juego actual es un tiebreak\n            },\n            actionHistory: [],  // Historial de todas las acciones realizadas\n            scoreHistory: []  // Historial de los cambios de puntuación para poder deshacer cambios\n        }    \n        \n}\n//////////////////////////////////////////////////////////////////////\nfunction updateScore(teamIndex) {\n    console.log(`------------------updating`);\n /*//asigno valores globales a variables locales para facilitar la manipulación dentro de los condicionales, cuando tengo que cambiar valores utilizo la notación completa de la variable global\n    let cG = quadra.match.score.currentGame;    //currentGame\n    let cSI = quadra.match.score.currentSet;    //currenSetIndex\n    let cS = quadra.match.score.sets[cSI];      //currenSet\n    let pS = JSON.parse(JSON.stringify(quadra.match.score)); // Hacer una copia profunda antes de modificar//previousScore\n   \n    //console.log( \"----->cs: \",cS, \" cSI:\" , cSI, \" pScore:\", pS);\n    \n    //Registro en los historiales\n    quadra.match.actionHistory.push({action:teamIndex === 0 ? \"pointA\" : \"pointB\"});\n    quadra.match.scoreHistory.push(pS);\n    // Incrementar el punto para el equipo especificado y al final de la función actualizo valores globales\n    cG[teamIndex] += 1;\n\n    // Verificar si hay un ganador del Game\n    if ((cG[0] >= 4 || cG[1] >= 4) && Math.abs(cG[0] - cG[1]) >= 2) {\n        //sumo 1 al set correspondiente y \n         cS[teamIndex]+=1;\n        // Verificar si hay un ganador del set\n        if (cS[teamIndex] >= 6 && Math.abs(cS[0] - cS[1]) >= 2) {\n            //if (cSI < cS.length - 1) {\n            if (cSI < cS.length) {\n                cSI +=1;\n                cS = [0 , 0];\n                    console.log(`incremento de indice`);\n\n            } else {\n                  // me muevo al otro set o si ya estaba en el tercer set GANADOR DEL PARTIDO en otra función\n              console.log(`+++++++++++++++++++FindePartido+++++++++++++++++++++`);\n            }\n        }\n        // Reiniciar el juego actual\n        cG[0] = 0;\n        cG[1] = 0;\n    }\n    let cfG =JSON.parse(JSON.stringify(formatGame(cG)));\n    //console.log(\"-----__>currentGame\", cG);\n    //console.log(\"-----__> game FOrmated -> \", cfG);\n    //console.log(\"game FOrmated -> \", formatGame(cG));\n    //console.log(\"game FOrmated -> \", formatGame(cG[0]), \" \", formatGame(cG[1]));\n\n    // Actualizo valores globales\n    quadra.match.score.gameFormated =[cfG];     //Escribo el valor del game formateado en su campo del score\n    quadra.match.score.currentGame = cG;\n    quadra.match.score.currentSet = cSI;\n    quadra.match.score.sets[cSI] = cS ; */\n    ///--------------------------------/////---------////\n    \n\n    let cG = quadra.match.score.currentGame;\n    let cSI = quadra.match.score.currentSet;\n    let cS = quadra.match.score.sets[cSI];\n    let inTiebreak = quadra.match.score.inTiebreak;\n\n    quadra.match.actionHistory.push({action: teamIndex === 0 ? \"pointA\" : \"pointB\"});\n    quadra.match.scoreHistory.push(JSON.parse(JSON.stringify(quadra.match.score))); \n\n    cG[teamIndex] += 1;\n        console.log( \"----->cs:\",cS, \" cSI:\" , cSI, \" cGame:\", cG);\n\n    if (inTiebreak) {\n        console.log( \"---Estoy en Tiebreak--> \");\n        // Manejar puntuación en tiebreak: simplemente incrementar puntos\n        if ((cG[0] >= 7 || cG[1] >= 7) && Math.abs(cG[0] - cG[1]) >= 2) { // Condición para ganar el tiebreak\n                console.log(\"Condición ganador tiebreak \")\n            cS[teamIndex] += 1;\n            if (cSI <= cS.length) {\n                cSI +=1;\n                cS = [0 , 0];\n                    console.log(`incremento de indice me muevo al siguiente SET`);\n    \n                }\n            cG = [0, 0]; // Reiniciar juego\n            inTiebreak = false; // Salir del modo tiebreak\n                console.log( \"---Finalizó Tiebreak--> \", \"ganó el set el team : \",teamIndex);\n        }\n    } else {\n        /*if ((cG[0] >= 4 || cG[1] >= 4) && Math.abs(cG[0] - cG[1]) >= 2) {\n            cS[teamIndex] += 1;\n            if (cS[0] === 6 && cS[1] === 6) { // Comprobar si se necesita iniciar un tiebreak\n                inTiebreak = true;\n                cG = [0, 0]; // Reiniciar puntuación para tiebreak\n            } else if (cS[teamIndex] >= 6 && Math.abs(cS[0] - cS[1]) >= 2) {\n                // Ganar el set y preparar para el próximo set\n                if (cSI < quadra.match.score.sets.length - 1) {\n                    cSI += 1;\n                } else {\n                    console.log(\"Fin del partido\");\n                }\n                cG = [0, 0];\n            }\n        }*/\n        // Verificar si hay un ganador del Game\n        if ((cG[0] >= 4 || cG[1] >= 4) && Math.abs(cG[0] - cG[1]) >= 2) {\n            //sumo 1 al set correspondiente y \n             cS[teamIndex]+=1;\n            // Verificar si hay un ganador del set\n            if (cS[0] === 6 && cS[1] === 6) { // Comprobar si se necesita iniciar un tiebreak\n                inTiebreak = true;\n                //cG = [0, 0]; // Reiniciar puntuación para tiebreak\n            }\n            if (cS[teamIndex] >= 6 && Math.abs(cS[0] - cS[1]) >= 2) {\n                //if (cSI < cS.length - 1) {\n                if (cSI <= cS.length) {\n                    cSI +=1;\n                    cS = [0 , 0];\n                        console.log(`incremento de indice me muevo al siguiente SET`);\n    \n                }\n            }\n            // Reiniciar el juego actual\n            cG[0] = 0;\n            cG[1] = 0;\n        }\n    }\n    // Actualizar el estado global\n    quadra.match.score.currentGame = cG;\n    quadra.match.score.currentSet = cSI;\n    quadra.match.score.sets[cSI] = cS;\n    quadra.match.score.inTiebreak = inTiebreak;\n    quadra.match.score.gameFormated = inTiebreak ? cG : formatGame(cG); // Formatear juego solo si no está en tiebreak\n}\n\n//////////////////////////////////////////////////////////////////////////////////////////\nfunction formatGame(gameStatus) {\n    let pointsA = JSON.parse(JSON.stringify(gameStatus[0]));\n    let pointsB = JSON.parse(JSON.stringify(gameStatus[1]));\n\n        if (pointsA >= 3 && pointsB >= 3) {  //si los dos son mayores que3\n            console.log(\"pointsA y pointsB mayores que 3\");\n            if (pointsA === pointsB) {\n                console.log(\"pointsA === pointsB retorna 40-40\");\n                return [\"40\",\"40\"];  // Deuce\n            }\n            if (pointsA > pointsB) {\n                console.log(\"pointsA > pointsB retorna AD-40\");\n                return [\"AD\",\"40\"];\n            }\n            if (pointsB > pointsA){\n                console.log(\"pointsA < pointsB retorna 40-AD\");\n                return [\"40\" , \"AD\"];\n            }\n            \n        }\n        else{\n            console.log(\"pointsA & pointsB menor a 3 entonces\");\n            console.log([formatPoint(pointsA) , formatPoint(pointsB)]);\n            return [formatPoint(pointsA) , formatPoint(pointsB)];\n        }\n        function formatPoint (point){\n        return  point === 0 ? \"0\" :\n                point === 1 ? \"15\" :\n                point === 2 ? \"30\" :\n                point === 3 ? \"40\" :\n                \"AD\";    \n    }\n}\n//////////////////////////////////////////////////////////////////////////////////////////\n// Obtener el objeto 'quadra' del contexto de flujo\nlet quadra = flow.get('quadra') || {match : newMatch()}\n    /*{match: {\n        matchID: generateUniqueID(),  // Generar un ID único para el partido\n        gameTime: 0,  // Tiempo transcurrido del partido en segundos o formato deseado\n        score: {\n            sets: [[0, 0], [0, 0], [0, 0]],  // Array para almacenar los juegos ganados en cada set\n            currentSet: 0,  // Índice del set actual en el array de sets\n            currentGame: [0, 0],  // Puntuación del juego actual\n            gameFormated: [0,0]     //Formateo de puntuación del game actual\n        },\n        actionHistory: [],  // Historial de todas las acciones realizadas\n        scoreHistory: []  // Historial de los cambios de puntuación para poder deshacer cambios\n    } }   */\n\n// Evaluar la acción proveniente del nodo inject\nswitch (msg.payload.action) {\n    case \"A\":\n        // Sumar punto al Equipo A\n        updateScore(0);\n        break;\n    case \"B\":\n        // Sumar punto al Equipo B\n        updateScore(1);\n        break;\n    case \"Undo\":\n    // Deshacer la última acción\n    let aH = quadra.match.actionHistory;\n    let sH = quadra.match.scoreHistory;\n    if (aH.length > 0 && sH.length > 0){\n        quadra.match.actionHistory.pop();   //Delete last action\n        let previousState = quadra.match.scoreHistory.pop();    //Delete last score\n            console.log(\"Undo - Restoring to previous state:\", previousState);\n        // Restaurar el estado completo del partido\n        quadra.match.score = JSON.parse(JSON.stringify(previousState));\n    }\n           // quadra.match.scoreHistory.pop();    //Delete last score\n        break;\n    case \"Reset\":\n        quadra.match = newMatch();\n        // Reiniciar el partido\n        /*quadra.match.score.sets = [[0, 0], [0, 0], [0, 0]];\n        quadra.match.score.currentSet = 0;\n        quadra.match.score.currentGame = [0, 0];\n        quadra.match.score.gameFormated = [0, 0];\n        quadra.match.actionHistory = [];\n        quadra.match.scoreHistory = [];\n        quadra.match.gameTime= 0; // Tiempo transcurrido del partido en segundos o formato deseado\n        */\n        break;\n    default:\n        // Por si se recibe una acción no esperada\n        node.warn(\"Acción no reconocida: \" + msg.payload.action);\n        break;\n}\n\n// Guardar el estado actualizado\nflow.set('quadra', quadra);\n\n// Pasar el estado actualizado al siguiente nodo (si es necesario)\nreturn {payload: quadra};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":640,"wires":[[]]},{"id":"5e28941.ebafb6c","type":"function","z":"993456db.6e41d8","name":"ETL Analitycs","func":"// Nodo de Función ETL en Node-RED para extraer y formatear datos para Google Sheets\n\nif (msg.payload && msg.payload.quadra && msg.payload.quadra.match) {\n    const { matchID, score: { gameFormated, sets, currentSet }, startTime } = msg.payload.quadra.match;\n//    const currentTime = Date.now();\n//    const totalSeconds = Math.floor((currentTime - startTime) / 1000);\n//    const minutes = Math.floor(totalSeconds / 60);\n//    const seconds = totalSeconds % 60;\n//    const gameTime = `${minutes} min ${seconds} sec`;\n    const action = msg.payload.action;\n    const currentTime = Date.now();\n    const totalSeconds = Math.floor((currentTime - startTime) / 1000);\n    const hours = Math.floor(totalSeconds / 3600); // Total horas\n    const minutes = Math.floor((totalSeconds % 3600) / 60); // Resto convertido a minutos\n    const seconds = totalSeconds % 60; // Resto en segundos\n    const gameTime = [\n        hours.toString().padStart(2, '0'),\n        minutes.toString().padStart(2, '0'),\n        seconds.toString().padStart(2, '0')\n    ].join(':');\n    \n    msg.payload = [\n        matchID,\n        action,\n        gameFormated.join(\"-\"),\n        gameFormated[0],\n        gameFormated[1],\n        currentSet,\n        sets[currentSet].join(\"-\"),\n        sets[currentSet][0],\n        sets[currentSet][1],\n        gameTime\n    ];\n    msg.topic = \"GameData for Google Sheets\";\n\n    console.log(\"Data prepared for Google Sheets:\", msg.payload);\n} else {\n    console.error(\"Error: Mensaje no contiene la estructura esperada.\");\n    msg.payload = \"Error: Mensaje no contiene la estructura esperada.\";\n    msg.error = true;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":240,"wires":[["95836f17.249f4","bb9e5999.da6c88"]]},{"id":"bb9e5999.da6c88","type":"GSheet","z":"993456db.6e41d8","creds":"5f68bb21.60d2c4","method":"append","action":"","sheet":"1wcbxfS_hjSR6Pa2BmnsubcCN2gfxF1ZogYVmUgtTzMo","cells":"A2","flatten":false,"name":"ETL sheet","x":760,"y":240,"wires":[["3d241829.40a1f8"]]},{"id":"b151c0ce.f65ec","type":"comment","z":"993456db.6e41d8","name":"","info":"node-red-cbpadel@cbpadel.iam.gserviceaccount.com\n\nkey->\n{\n  \"type\": \"service_account\",\n  \"project_id\": \"cbpadel\",\n  \"private_key_id\": \"bbb9ffeba0be520f2b466af73f122ed2138ea313\",\n  \"private_key\": \"-----BEGIN PRIVATE KEY-----\\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCyhifAxt8EEr/z\\nM+Kvuj/XS6JOhxcJLoJqbcnz+Vs1QdkEza6V/MsizdvAwleDUlDWqfoB1T7GjCjz\\nkN5avl+XL+i37jmT1HVWiZQNomOoOiWkHtBe3WtFxbnGI3sZhyVr2lQtff3TFb39\\nXRgNFPq/U83za/iOa4pLw2uMENE6yVludL+cQlEnWXV/CcEXXFxYuUn9IypGB23R\\n47LuhpKuQD2GgD6wl2D2W9N2lik8ccoB05nHsPSmCGFptHFAwBw2nm7eLMLLs0d9\\nFv+QlgHAHMUI/R78CZihpfYBPcJQA/a/lp8PRZbIgz8ELBvsT17eGN7iVmNVguhc\\nB/EWsgGxAgMBAAECggEAGXqnKs7XXoP0jFff5xesa+RaDl4ebguKxnjT5XO1zkSP\\nHi3i2HpDXbzGu9yg09fIPNL2oRNXycuQPq7y5T2dc/z8+F9SLWSZuJebH1UJZyWh\\nYKqbL6bnXAZrzLkcpRiSQTHgaLu+IcXNH1+NgrR3Ux45WyASUfVMQCLscwmlav+7\\nq83QKiXh3EZyGZ1Ur7nTzFokTVBxzrPoSVd7KYqghnyfPzbY9vGLfE3ioDBFQokM\\nYlOLPN1OXYHecGgR5xhMDtT1fxxxrKoLA0ztGl24CXLfKpmUSqC39zuB8IbxHhBA\\nJvbvT1T3JJt11QNcQL7EYTXlYYUbwS1tjc5icqvizwKBgQDcltSzzb/tSlro5IXB\\nF6fhpWhtaOMKDAaTWY9fdLrDHvkNUgHI4Iit6BMZZDGjNaYOPmfMkQ/N/u5IPDXm\\nCxfFMI97YjB/uNpCqpHu34xouqC+vwedbnKkR9Hz4EhOSmAGkOXGf8XGMA26LjfV\\n2lFbkqlaabrBcBEi/c0sVTksmwKBgQDPLqWP2gDSrYN/6ou1vng2DZF2hQo+7lks\\nw1r6C6dTU6LUFYJa/xPtzvRqztWFCGp29cTmq2Lklol6z4VnsXivgWl3bjFdVOXd\\nKxbE3sbVKUJCGwcDBL4CE/fpjM+xcFt/xS3jrc2q+WmWZNvB0XtgCV83ai89723k\\nUQaG7ToBowKBgQC8+ha1BzJChm3FkWkpGCwB+uOwv6epxs2nVJWocGdDm/g/Oh8/\\nSWSun+Ak45pGuUJOd5YTQb8pehoHFlYSgzRVAZoaWO81rFaHwHsPCsLOQfxODXfn\\nnmRmawTqCh3HvJ3xYhcHbBUyCZ7o/ollEwiaC9Y8F9Ifv/NeZ9JrBYPauwJ/f95K\\nUH48A8sTXd9kWsczaij1njB+Ilj4sKfhfnGy07rKxBqCWacUpbEVKNZ+8ZxAGSuW\\nWsdsQainMSTjMRxXX/p/HTblQLUlKVtushLMpMLSIfqMWVCT9LReTcaaaOjvj+wi\\nZmLejKdig2+8MeMYQi2Glqzye0dKi592Z9AB/QKBgQCiRwptP4CuxJMz6MkE8m6V\\n4fjzfStL+7nbTQyUeLtO/wXVkSbhZocTuW5mfWqeiRb0aVctvtaLDpz9BENIuYUj\\nPxndKCmT47IqWEw/rcnUcsSGeF4L2l/ScaYOOf0nIqo5jNs/cwlhtTCViq+0Kwrr\\nzxY2azUh6pvGnEPcb53mfA==\\n-----END PRIVATE KEY-----\\n\",\n  \"client_email\": \"node-red-cbpadel@cbpadel.iam.gserviceaccount.com\",\n  \"client_id\": \"116910036715089491641\",\n  \"auth_uri\": \"https://accounts.google.com/o/oauth2/auth\",\n  \"token_uri\": \"https://oauth2.googleapis.com/token\",\n  \"auth_provider_x509_cert_url\": \"https://www.googleapis.com/oauth2/v1/certs\",\n  \"client_x509_cert_url\": \"https://www.googleapis.com/robot/v1/metadata/x509/node-red-cbpadel%40cbpadel.iam.gserviceaccount.com\",\n  \"universe_domain\": \"googleapis.com\"\n}","x":1040,"y":320,"wires":[]},{"id":"3d241829.40a1f8","type":"debug","z":"993456db.6e41d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":240,"wires":[]},{"id":"8fb7ac7d.3dca5","type":"function","z":"993456db.6e41d8","name":"ETL Dashboard","func":"// Nodo de Función ETL en Node-RED para extraer y formatear datos para Dashboard\n\nif (msg.payload && msg.payload.quadra && msg.payload.quadra.match) {\n    const { matchID, score: { gameFormated, sets, currentSet }, startTime } = msg.payload.quadra.match;\n    const action = msg.payload.action;\n    const currentTime = Date.now();\n    const totalSeconds = Math.floor((currentTime - startTime) / 1000);\n    const hours = Math.floor(totalSeconds / 3600); // Total horas\n    const minutes = Math.floor((totalSeconds % 3600) / 60); // Resto convertido a minutos\n    const seconds = totalSeconds % 60; // Resto en segundos\n    const gameTime = [\n        hours.toString().padStart(2, '0'),\n        minutes.toString().padStart(2, '0'),\n        seconds.toString().padStart(2, '0')\n    ].join(':');\n    const setsFormated = sets.map(set => set.join(\"-\")).join(\" | \");\n\n    msg.payload = [\n        gameFormated.join(\"-\"),\n        currentSet,\n        sets[currentSet].join(\"-\"),\n        setsFormated,\n    ];\n    msg.topic = \"Data for dashboard\";\n\n    console.log(\"Data prepared for Dashboard:\", msg.payload);\n} else {\n    console.error(\"Error: Mensaje no contiene la estructura esperada.\");\n    msg.payload = \"Error: Mensaje no contiene la estructura esperada.\";\n    msg.error = true;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":440,"wires":[["c5623da9.20eb9","f2f07d47.361fb","27f12061.5242a","7cb91e30.8eac5","e0ad96ec.007e38","b5162512.fb5c68","4626feaa.826a8"]]},{"id":"b5162512.fb5c68","type":"debug","z":"993456db.6e41d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":360,"wires":[]},{"id":"4626feaa.826a8","type":"ui_text","z":"993456db.6e41d8","g":"e1ffd6f4.380a08","group":"bfa50861.979ed8","order":0,"width":"10","height":"3","name":"sets","label":"Sets","format":"{{msg.payload[3]}}","layout":"col-center","className":"set","style":true,"font":"Tahoma,Geneva,sans-serif","fontSize":"35","color":"#1e00ff","x":770,"y":640,"wires":[]},{"id":"aaed0f5e.dc6bb","type":"ui_group","name":"Score","tab":"3bef3863.9b8c58","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c9ee75b6.5e7c18","type":"ui_group","name":"TrashGroup","tab":"5054cf9e.d52d3","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bfa50861.979ed8","type":"ui_group","name":"Placard","tab":"d8438916.f29758","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"5f68bb21.60d2c4","type":"gauth","name":"node-red-cbpadel@cbpadel.iam.gserviceaccount.com"},{"id":"3bef3863.9b8c58","type":"ui_tab","name":"Debuggin","icon":"dashboard","disabled":false,"hidden":false},{"id":"5054cf9e.d52d3","type":"ui_tab","name":"trash","icon":"dashboard","disabled":true,"hidden":false},{"id":"d8438916.f29758","type":"ui_tab","name":"Placard","icon":"dashboard","disabled":false,"hidden":false}]
